.editor-styles-wrapper {
  font-family: $scout-font-stack !important;
}

body {
  font-family: $scout-font-stack;
}

h1, h1.display-1, h1.display-2 {
  @include font-size(2.5rem);
}

h2 {
  @include font-size(2rem);
}

h3 {
  @include font-size(1.75rem);
}

h4 {
  @include font-size(1.5rem);
}

h5 {
  @include font-size(1.25rem);
}

h6 {
  @include font-size(1rem);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6, {
  @include rfs($scout-font-black, font-weight);
}

header h2 a {
  color: $scout-black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $scout-dark-grey;
  }
}

// Drop cap (copied from the Gutenberg editor CSS)
.has-drop-cap:not(:focus):first-letter {
  float: left;
  font-size: 8.4em;
  line-height: .68;
  font-weight: 100;
  margin: .05em .1em 0 0;
  text-transform: uppercase;
  font-style: normal;
}

// Long Read Prose - needs bigger text
// (If you change this, then change the same also in the `editor.css`.)

.long-read {
  font-size: clamp(1em, calc(0.625em + 1vw), 1.25em);
  line-height: inherit;
}

// More link

.more-link {
  display: block;
  margin-bottom: 1rem;
}

.text-purple {
  color: $scout-purple;
}