// Fonts
$scout-font-stack: 'Nunito Sans', sans-serif;
$scout-font-black: 900;
$scout-font-regular: 700;
$scout-font-light: 400;

// Scout Colors
$scout-purple: #7413dc;
$scout-teal: #088486;
$scout-green: #25b755;
$scout-red: #ed3f23;
$scout-pink: #ffb4e5;
$scout-navy: #003982;
$scout-blue: #006ddf;
$scout-yellow: #ffe627;
$scout-orange: #ff912a;
$scout-forest-green: #205b41;
$scout-black: #000000;
$scout-dark-grey: #707070;
$scout-light-grey: #F5F5F5;
$scout-white: #FFFFFF;
